
footer {
  background-color: #0a0a0a;
  margin-top: 50px;
}

.by-letter {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  text-transform: uppercase;
  font-size: 16px;
}

.letter-link {
  color: #ffffff!important;
}

.letter-link:hover {
  color: orangered!important;
}